<div class="flash">
<%= flash[:error] %>
</div>
<h1>Sign Up</h1>
<form action="/signup" method="POST">
<label for='username'>Username: </label>
<input type='text' name='username' required><br>
<label for='password'>Password: </label>
<input type='password' name='password' required><br>
<label for='studio'>Studio: </label>
<input type='studio' name='studio' required><br><br>
<br>
<br>
<input type='submit' value="Sign Up"><br><br>
<br> 
</form>