<h1>Edit an Existing Game</h1>
<form action='/games/<%= @game.id %>' method='POST'>
<input type="hidden" name="_method" value="PATCH">
<label for='title'>Title: </label>
<input type='text' name='title' placeholder="<%= @game.title %>"><br>
<label for='genre'>Genre: </label>
<input type='text' name='genre' placeholder="<%= @game.genre %>"><br>
<label for='description'>Description: </label><br>
<textarea name="description" placeholder="Tell me about your game"></textarea><br>
<input type="submit">
</form>