<h1>Welcome to <%= @user.username %>'s page!</h1>
<ul>Games submitted by <%= @user.username %>:
<% @user.games.each do |game| %>
    <li><a href='/games/<%= game.id %>'><%= game.title %></a>
<% end %>