<div class="container">
  <header>
  <% if Helpers.is_logged_in?(session) %>
  <h1>Welcome, <%= Helpers.current_user(session).username %></h1>
  <% else %>
  <h1><a href='/signup'>Sign Up</a> or <a href='/login'>Log In</a></h1>
  <% end %>
  </header>
  <div class="col-md-8 col-md-offset-2">
    <h2>VG Showcase</h2>

    <div class="content">
      <p>Welcome to VG Showcase, a hub for game developers to display their upcoming titles! Whether you are an indie dev or part of a AAA studio, VG Showcase is here to help you show off your masterpiece. If you haven't already, create an account and add your games to the showcase! Only valid users are allowed to share content.</p>
    </div>

    <div class="sidebar">
      <h3><a href='/games'>Games</a></h3>
      <h3><a href='/studios'>Studios</a></h3>
    </div>

  </div>
</div>
