<div class="container">
  <header><h1><a href='/signup'>Sign Up</a> or <a href='/login'>Log In</a></h1></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>VG Showcase</h2>

    <div class="content">
      <p>Welcome to VG Showcase, a hub for game developers to display their studio's next AAA title!</p>
    </div>

    <div class="sidebar">
      <h3><a href='/games'>Games</a></h3>
      <h3><a href='/studios'>Studios</a></h3>
    </div>

  </div>
</div>
